<div
  class="article-card"
  [class]="isGridView ? 'is-grid' : 'is-row'"
  [routerLink]="[routesConfig.routes.article.detail(article.url)]"
  *ngIf="article"
  [@fadeIn]="'fadeIn'"
>
  <div class="article-card__increment" *ngIf="incrementId">
    {{ incrementId }}
  </div>
  <div class="article-card__bg">
    <img [src]="article.coverImageUrl || 'https://via.placeholder.com/350x250'" alt="" />
  </div>
  <div class="article-card__content">
    <div class="article-card__title">
      {{ article.title }}
    </div>
    <div class="article-card__subtitle">
      {{ article.subtitle }}
    </div>
    <div *ngIf="article.description " class="article-card__description">
      {{ article.description }}
    </div>
  </div>
</div>
