<div fxLayout="row">
  <div fxFlex="10" fxFlex.gt-sm="5"></div>
  <div fxFlex="90" fxFlex.gt-sm="90">
    <div id="article-list" *ngIf="!isLoading; else loadingBlock">
      <app-article-card *ngFor="let article of articles; let i = index" [article]="article" [incrementId]="i + 1"></app-article-card>
    </div>
    <ng-template #loadingBlock>
      <div id="article-list">
        <app-loading-placeholder
          *ngFor="let placeholder of placeHolderList"
          [height]="'150px'"
        ></app-loading-placeholder>
      </div>
    </ng-template>
  </div>
  <div fxFlex="10" fxFlex.gt-sm="5"></div>
</div>
